<html>
    <head>
        <title>Love's stunt page</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Love</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first aim/a></h2>
            <p>To stunt.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second aim</a></h2>
            <p>To stunt on all the hoes.</p>
        </div>
    </body>
</html>